.triggerStyle {
  color: blue;
  cursor:pointer;
  font-weight:bold;
}

.gridContainer {
	margin:0px;
}

.gridCol {
	margin:0px;
	padding-top:0px;
}

.selectedAccordionLink {
	font-weight: bold;
}

.unselectedAccordionLink {
	font-weight: normal;
}
